<app-header></app-header>

<main>
  <ul id="users">
    @for (user of users; track user.id) {
    <li class="nav-item">
      <app-user [user]="user" (select)="onSelectUser($event)" [selected]="selectedUserId === user.id"></app-user>
    </li>
    }
    <li class="nav-item">
      <app-user-signal
        [id]="users[4].id"
        [avatar]="users[4].avatar"
        [name]="users[4].name"
        (select)="onSelectUser($event)"
      >
      </app-user-signal>
    </li>
  </ul>

  @if (selectedUser) {
  <app-tasks [userId]="selectedUser.id" [name]="selectedUser.name" > </app-tasks>
  } @else {
  <p id="fallback">Select a user to see their task</p>
  } 
  
  <!--TODO Old version code -->

  <!-- <ul id="users">
    <li class="nav-item" *ngFor="let user of users">
      <app-user [user]="user" (select)="onSelectUser($event)"></app-user>
    </li>

    <li class="nav-item">
      <app-user-signal
        [id]="users[4].id"
        [avatar]="users[4].avatar"
        [name]="users[4].name"
        (select)="onSelectUser($event)"
      >
      </app-user-signal>
    </li>
  </ul>

  
  <app-task *ngIf="selectedUser; else fallback" [name]="selectedUser.name" [userId]="selectedUser.id"> </app-task>
  
  <ng-template #fallback>
    <p id="fallback">Select a user to see their task</p>
  </ng-template> -->
  
</main>
